@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color:#373853;
    display: flex;
    justify-content: center;
    font-family: "Poppins", serif;
    padding-bottom: 50px;
}
/*inicio container */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*inicio seção bem vindo*/
.intro {
    width: 87%;
    height: 100%;
    display: flex;
    border-radius: 25px;
    background: linear-gradient(135deg, rgba(50, 51, 74, 0.9), rgba(55, 56, 83, 0.9));
    background-size: cover;
    background-position: center;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}

.texto{
    margin-top: 25px;

}




.txt-animado {
    font-size: 35px;
    font-weight: 300;
    color: #fff;
    padding-left: 0px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 30px 0;
    opacity: 0; 
    animation: fadeIn 1s ease-in forwards; 
    animation-delay: 0.5s; 
}

.txt-animado span {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 0; 
    opacity: 1; 
    animation: digita 2s steps(20) forwards;
    animation-delay: 1s; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #fff;
    animation: cursor 0.8s step-end infinite;
    right: 0;
    opacity: 1;
}

@keyframes digita {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.txt-animado span {
    animation: digita 2s steps(20) forwards;
    animation-delay: 2s; 
}





.alinhamentobemvindo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
}




.btn-contatos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    
 }


 .link{
    width: 80px;
    height: 80px;
    box-shadow: 15px 0 8px rgba(0, 0, 0, 0.405);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin: 15px;
    background-color: #DCDCDC;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid #171515;
    
 }
 
 .link:hover i{
    color: #fff;
    transform: scale(1.2);
    
 }
 .link i{
    transition: .2s;
 }

 .link-1::before{
    background-color: #25D366;
 }
 .link-2::before{
    background-color: #171515;
 }
 .link-3::before{
    background-color: #0077B5;
    
 }

    .link-1{
        color: #25D366;
    }
    .link-2{
        color: #171515;
    }
    .link-3{
        color: #0077B5
        
    }

    .link::before{
        content: "";
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        left: -100px;
        top: 100%;
       
        
    }
    .link:hover::before{
        animation: desloca .5s;
        left: 0px;
            top: 0px;

    }
   

    @keyframes desloca {
        0%{
            left: -100px;
             top: 100%;
        }
        50%{
            left: 15%;
            top: -35%;
        }
        100% {
            left: -2px;
            top: 0 -2px;
        }
        
    }


    


        .space {
            display: inline-block;
            width: 15px; 
          }

        .intro-title {
            font-size: 80px;
            font-weight: 300;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
          }
          
          .intro-title span {
            display: inline-block;
            opacity: 0;
            transform: rotateX(90deg);
            animation: rotateIn 1s forwards;
            animation-delay: 0.2s;
          }
          
          
          .intro-title span:nth-child(1) {
            animation-delay: 0s;
          }
          .intro-title span:nth-child(2) {
            animation-delay: 0.1s;
          }
          .intro-title span:nth-child(3) {
            animation-delay: 0.2s;
          }
          .intro-title span:nth-child(4) {
            animation-delay: 0.3s;
          }
          .intro-title span:nth-child(5) {
            animation-delay: 0.4s;
          }
          .intro-title span:nth-child(6) {
            animation-delay: 0.5s;
          }
          .intro-title span:nth-child(7) {
            animation-delay: 0.6s;
          }
          .intro-title span:nth-child(8) {
            animation-delay: 0.7s;
          }
          .intro-title span:nth-child(9) {
            animation-delay: 0.8s;
          }
          .intro-title span:nth-child(10) {
            animation-delay: 0.9s;
          }
          .intro-title span:nth-child(11) {
            animation-delay: 1s;
          }
          .intro-title span:nth-child(12) {
            animation-delay: 1.1s;
          }
          
          @keyframes rotateIn {
            0% {
              opacity: 0;
              transform: rotateX(90deg);
            }
            100% {
              opacity: 1;
              transform: rotateX(0);
            }
          }
          



        .imagemA{
            height: 100%;
            width: 20%;
            display: flex;
            
            }

            .avatar {
                width: 100%;
                height: auto;
                margin-top: -25px;
                animation: zoomIn 1.5s ease-out forwards;
            }
            
            @keyframes zoomIn {
                0% {
                    transform: scale(0.5);
                    opacity: 0;
                }
                100% {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            

                /*fim aba bem vindo*/


               




        .alinhamentoicons{
            display: flex;
            position: relative;
            bottom: 80px;
            width: 100%;
            top: 1%;
            
            
            
             }    
                
        

        .icons{
            display: flex;
            align-items: center;
            width: 100%;
            list-style: none;
            justify-content: center;
            margin-right: 15px;
        
        
        }


        .iconhtml{
            color:  #E34F26;
        }
        .iconcss{
            color: #1572B6;
        }
        .iconjs{
            color: #F7DF1E;
        }
        
        .iconboot{
            color: #7952B3;
        }
        .icongit{
            color: #F05032;
        }
        .iconhub{
            color: #181717;
        }
        .skill{
            font-size: 40px;
            margin: 0 20px 0 20px;
            transition: 2s;
            width: 45px;
            display: flex;
            text-align: center;
            border-radius: 10px;
            
        }
        .skill:hover{
            transform: rotateY(360deg);
        }
     


        



        /*fim da aba skills*/









.abaprojetos{
    width: 90%;
    height: 100%;
    background-color: #32334a;
    padding-top: 50px;
    border-radius: 25px;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.titulo{
    text-align: center;
    color: #fff;
    font-size: 50px;
    margin-top: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

}

  .projetos{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 400px));
    grid-template-rows: 45% 45%;
    justify-content: center;
    align-content: center;
    height: 500px;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .item{
    
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.503);
    transition: 0.5s;
    border-radius: 10px;
    

    }

    .item:hover{
        scale: 1.05;
    }

    .imagensProjeto{
        width: 100%;
        height: 100%;
        border-radius: 10px;

    }
      

/*fim aba projetos*/


/*inicio aba sobre mim*/ 

 
.AbaSobreMim{
    
    width: 100%;
    height: 00px;
    
    
}

.AbaSobreMim h1{
    color: #fff;
    text-align: center;
    font-size: 40px;

    

}
.sobreMim{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.ParagrafoSobreMim{
    
    width: 70%;
    color: #fff;
    font-size: 20px;
}
.abaAvatar{
    width: 15%;
    
    }
.avatar2{
    width: 80%;
    height: auto;
    margin-right: 15px;
   
    
}


/*fim aba sobre mim*/


     
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

 

  @media (max-width:660px){
    .intro{
        height: 200px;
        margin-top: 70px;
        width: 80%;

    }
    .intro-title{
        font-size: 20px;
        margin-left: -60px;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .txt-animado{
        font-size: 15px;
        margin-top: -20px;
    }
    .abaprojetos{
       top: 300px;
        height: 350px;
        position: absolute;
        margin-top: 20px;

    
    }
    .abaprojetos h1{
        font-size: 20px;
        margin-top: -20px;
        
    }
    .projetos{
        display: grid;
        grid-template-columns: repeat(2, minmax(80px, 120px));
        height: 200px;
        gap: 10px;
        margin-top: 70px;
    }
    .avatar{
        width: 80%;
        height: 50%;
        margin-top: 30px;
    }
    .alinhamentoicons{
        left: 10px;
        top: 45%;

        
        
    }
    .skill{
        font-size: 20px;
        margin: -150px 10px 0 ;
        
    }
    .titulo{
        font-size: 20px;
    }
    .AbaSobreMim{
        top: 480px;
        position: relative;
    }
    .AbaSobreMim h1{
        font-size: 20px;
    }
    .ParagrafoSobreMim{
        margin-top: 20px;
        font-size: 10px;
    }
    .link{
        width: 30px;
        height: 30px;
    }
    .link i{
        font-size: 10px;
    }


  }
   
    
  @media (min-width: 661px) and (max-width: 900px){
    .avatar {
      width: 100%; 
      height: 70%;
      margin-top: 40px;
    }
    .intro{
        height: 380px;
    }
    .intro-title{
        font-size: 45px;
        margin-left: 50px;
        margin-top: 120px;
        margin-bottom: 20px;
    }
    .abaprojetos h1{
        font-size: 30px;
        height: auto;
        margin-top: -20px;
    }
    .abaprojetos{
        padding-top: 0;

    }
    .projetos{
        display: grid;
        grid-template-columns: repeat(3, minmax(80px, 200px));
        grid-template-rows: 45% 45%;
        height: 250px;
        gap: 15px;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .avatar2{
        width: 100px;
    }
    
    .link{
        width: 50px;
        height: 50px;
        border-radius: 15px;
        font-size: 20px;
        margin-top: -10px;
        
    }
    .botoes{
        margin-top:-40px;
        font-size: 15px;
    }

    .ParagrafoSobreMim{
        font-size: 12px;
        margin-top: 50px;
    }
    .txt-animado{
        font-size: 20px;
        margin-top: 40px;
       
    }
    .titulo{
    position: relative;
    top: 50px;
    }
    .alinhamentoicons{
       
       left: 20px;
    }
    .skill{
        font-size: 40px;
        margin: 15px;
    }
    .btn-contatos{
        margin-top: 80px;

    }
    .link::before{
         width: 70px;
        height: 70px;
       
       }
       .link:hover::before{
        animation: desloca .5s;
        left: -11px;
            top: -5px;

    }
  }
  @media (min-width: 901px) and (max-width: 1025px){
    .projetos{
        display: grid;
        grid-template-columns: repeat(3, minmax(80px, 250px));
        grid-template-rows: 45% 45%;
        height: 300px;
        gap: 15px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

  }